<div class="container row">
  <div class="text-center centered-text">
    <form action="/answer" method= "get">
      <label id="q" for="question">HEY BOY! I'M COACH STEVE</label>
      <input type="text" id="question" name="question" placeholder="What do you want to say?">
      <input type="submit" id="input">
    </form>
  </div>
</div>
